<%- include("templates/head.ejs") %>


<h1 class="titulo">PRODUCTOS</h1>


  
<!-- partial:index.partial.html -->
<main class="page-content">
  <div class="card-img">
    <div class="content">
      <h2 class="title">Amplificador de Señal WiFi</h2>
      <p class="copy">$399.00</p>
      <button class="btn"><a href="/print.html">CARACTERISTICAS</a></button>
    </div>
  </div>
  <div class="card-img">
    <div class="content">
      <h2 class="title">Wireless-N</h2>
      <p class="copy">$348.00</p>
      <button class="btn"><a href="/print.html">CARACTERISTICAS</a></button>
    </div>
  </div>
  <div class="card-img">
    <div class="content">
      <h2 class="title">WiFi Enc Sunnimix</h2>
      <p class="copy">$439.80</p>
      <button class="btn"><a href="/print.html">CARACTERISTICAS</a></button>
    </div>
  </div>
  <div class="card-img">
    <div class="content">
      <h2 class="title">WiFi Range Extender</h2>
      <p class="copy">$2,101.92</p>
      <button class="btn"><a href="/print.html">CARACTERISTICAS</a></button>
    </div>
  </div>
</main>
<!-- partial -->
<br>
<br>

<main class="page-content">
  <div class="card-img">
    <div class="content">
      <h2 class="title">Amplificador de Señal WiFi</h2>
      <p class="copy">$399.00</p>
      <button class="btn"><a href="/print.html">CARACTERISTICAS</a></button>
    </div>
  </div>
  <div class="card-img">
    <div class="content">
      <h2 class="title">Wireless-N</h2>
      <p class="copy">$348.00</p>
      <button class="btn"><a href="/print.html">CARACTERISTICAS</a></button>
    </div>
  </div>
  <div class="card-img">
    <div class="content">
      <h2 class="title">WiFi Enc Sunnimix</h2>
      <p class="copy">$439.80</p>
      <button class="btn"><a href="/print.html">CARACTERISTICAS</a></button>
    </div>
  </div>
  <div class="card-img">
    <div class="content">
      <h2 class="title">WiFi Range Extender</h2>
      <p class="copy">$2,101.92</p>
      <button class="btn"><a href="/print.html">CARACTERISTICAS</a></button>    
    </div>
  </div>
</main>

<br>
<br>

<main class="page-content">
  <div class="card-img">
    <div class="content">
      <h2 class="title">Amplificador de Señal WiFi</h2>
      <p class="copy">$399.00</p>
      <button class="btn"><a href="/print.html">CARACTERISTICAS</a></button>
    </div>
  </div>
  <div class="card-img">
    <div class="content">
      <h2 class="title">Wireless-N</h2>
      <p class="copy">$348.00</p>
      <button class="btn"><a href="/print.html">CARACTERISTICAS</a></button>
    </div>
  </div>
  <div class="card-img">
    <div class="content">
      <h2 class="title">WiFi Enc Sunnimix</h2>
      <p class="copy">$439.80</p>
      <button class="btn"><a href="/print.html">CARACTERISTICAS</a></button>
    </div>
  </div>
  <div class="card-img">
    <div class="content">
      <h2 class="title">WiFi Range Extender</h2>
      <p class="copy">$2,101.92</p>
      <button class="btn"><a href="/print.html">CARACTERISTICAS</a></button>
    </div>
  </div>
</main>

<div class="floating-menu active"> 
  <a class="trigger">
    <i class="fa fa-user-circle" style="font-size:36px"></i>
  </a>
  <div class="items">
    <a class="item">
      <i class="fa fa-close" style="font-size:36px"></i>
    </a>
    <a class="item">
      <i class="fa fa-user-times" style="font-size:36px"></i>
    </a>
  </div>
</div>


<%- include("templates/footer.ejs") %>