/*ESTILO DE PESTAÑA DE PRODUCTOS*/
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}
.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}

.titulo{
  font: oblique bold 120% cursive;
  font-size: x-large;
  text-align: center;
}

.logopix{
    text-align: center;
    width: 30%;
    height: 30%;
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-img {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card-img {
    height: 350px;
  }
}
.card-img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card-img:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card-img:nth-child(1):before {
  background-image: url(https://m.media-amazon.com/images/I/41sgFPc6aIS._AC_SY450_.jpg);
}
.card-img:nth-child(2):before {
  background-image: url(https://m.media-amazon.com/images/I/31aYGyreYrL._AC_SY450_.jpg);
  background-position: 0%;
}
.card-img:nth-child(3):before {
  background-image: url(https://res.cloudinary.com/walmart-labs/image/upload/w_960,dpr_auto,f_auto,q_auto:best/mg/gm/3pp/asr/c99cd6db-f942-4943-9f04-fd532bd7fbc4.08984b4f34f7ce353dc35fe3dd5fc05a.jpeg?odnHeight=2000&odnWidth=2000&odnBg=ffffff);
}
.card-img:nth-child(4):before {
  background-image: url(img/00699281-7c62-4f07-84ac-48f39a957a1a.afa8c87cb47f09aef9d0cc6dd437e16b.webp);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card-img:hover,
.card:focus-within {
    align-items: center;
  }
  .card-img:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card-img:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card-img:hover .content,
.card-img:focus-within .content {
    transform: translateY(0);
  }
  .card-img:hover .content > *:not(.title),
.card-img:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card-img:focus-within:before, .card:focus-within:after,
.card-img:focus-within .content,
.card-img:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

/*body {
    display: grid;
    place-items: center;
  }*/
.boton{
  text-align: center;
  display: grid;
  place-items: center;
  text-align: center;
}

.ticket{
  display: grid;
  place-items: center;
  text-align: center;
}

table {
    width: 100%;
    table-layout: auto; }
  
  th,
  td {
    text-align: left;
    vertical-align: bottom; }
  
  .ticket__container {
    background-color: white;
    padding: 1rem;
    width: 76mm;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
   }

   .ticket__container > div{
    box-sizing: border-box;
   }
  
  .ticket__logo {
    margin-bottom: .5rem; }
  
  .ticket__type {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.2rem; }
  
  .ticket__box {
    width: 100%;
    border: 1px solid black;
    margin-bottom: .5rem;
    border-collapse: separate;
    border-spacing: .25rem;
    padding: .25rem; }

  .ticket__group{
    width: 100%;
    margin-bottom:.5rem;
    padding: .25rem;
    border: none;
  }
  
  .ticket__info tr > :last-child, .ticket__bet-type tr > :last-child, .ticket__summary tr > :last-child, .ticket__bet-item tr > :last-child, .ticket__potential tr > :last-child {
    text-align: right; }
  
  .ticket__bet-type tr > :last-child, .ticket__summary tr > :last-child, .ticket__bet-item tr > :last-child, .ticket__potential tr > :last-child {
    white-space: nowrap; }
  
  .ticket__event {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: .5rem;
    align-items: center;
    justify-content: flex-start; }
    .ticket__event-logo {
      margin-right: .25rem;
      flex-grow: 0;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem; }
  
  .ticket__separator {
    border: 0;
    border-top: 1px solid black;
    margin-bottom: .5rem; }
  
  .ticket__bet-item {
    margin-bottom: .5rem; }
    .ticket__bet-item td {
      white-space: nowrap;
      width: max-content; }
    .ticket__bet-item th {
      font-size: .8rem;
      text-align: right; }
    .ticket__bet-item tr td .circle-container{
      display: flex;
      overflow: hidden;
    }
    .ticket__bet-item tr td span.circle{
      display: block;
      width:2.5px;
      height:2.5px;
      background:#000;
      transform: rotate(45deg);
    }
    .ticket__bet-item td span.circle:not(:first-child){
      margin-left: 5px;
    }
  
  .ticket__bet-type {
    border-top: 1px solid black; }
    .ticket__bet-type th {
      font-size: .8rem;
      text-align: right; }
  
  .ticket__legal {
    font-size: 0.8rem;
    font-style: italic;
    border: 0;
    border-top: 1px solid black;
    padding: 0.5rem 0 0;
    margin-bottom: 0.5rem; }
  
  .ticket__summary {
    margin-bottom: 0.5rem;
    margin-top: .25rem; }
  
  .ticket__potential {
    border-left: .8rem solid black;
    padding-left: .25rem;
    margin-bottom: .5rem; }
  
  .ticket__barcode {
    width: 100%;
    border-top: 2px solid black;
    padding-top: .5rem;
    text-align: center;
    margin-bottom: .5rem; }
  
  .ticket__footer {
    border-top: 1px solid black;
    padding: 0.5rem 0 0;
    margin-bottom: 0.5rem; }
  
  .text--small {
    font-size: 0.8rem; }
  
  .text--big {
    font-size: 1.2rem; }
  
  .text--x-big {
    font-size: 1.5rem; }
  
  .text--italic {
    font-style: italic; }
  
  .text--right {
    text-align: right; }
  
  .text--center {
    text-align: center; }
  
  .text--paragraph {
    margin-bottom: .25rem; }
  
  .placeholder {
    background-color: gray;
    width: 100%;
    height: 100%;
    color: white;
    padding: 1rem; }
    .placeholder--note {
      background-color: coral; }