<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/tableuser.css">
  <script src="https://kit.fontawesome.com/217c9bb22e.js" crossorigin="anonymous"></script>
  <title>Pixels</title>
</head>
<body>
  
<header>
  <nav class="nav">
    <div class="logo">PIXELS</div>
    <ul class="menu">
      <li><a href="home">inicio</a></li>
      <li><a href="vista2">vista2</a></li>
      <li><a href="vista3">vista3</a></li>
      <li><a href="vista4">vista4</a></li>
      <li><a href="vista4">vista5</a></li>
    </ul>
    <div class="menu-btn">
      <i class="fa-solid fa-bars"></i>
    </div>
  </nav>
</header>
<div class="scrol">
    
</div>